.theme-toggle {
    width: 50px;
    height: 24px;
    border-radius: 12px;
    background-color: #646cff33;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px;
    transition: background-color 0.3s;
}

.theme-toggle__slider {
    width: 50%;
    height: 100%;
    background-color: #646cff;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.3s;
}

.theme-toggle__slider.dark {
    left: 50%;
    background-color: #facc15;
}

.theme-toggle__icon {
    position: absolute;
    pointer-events: none;
}

.theme-toggle__slider.dark .theme-toggle__icon:first-child {
    display: none; /* cache le soleil quand dark */
}

.theme-toggle__slider.dark .theme-toggle__icon:last-child {
    display: block; /* montre la lune quand dark */
}

.theme-toggle__slider.light .theme-toggle__icon:first-child {
    display: block;
}

.theme-toggle__slider.light .theme-toggle__icon:last-child {
    display: none;
}
