.movie-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.movie-list__empty {
    text-align: center;
    color: #555;
    font-size: 18px;
    margin-top: 24px;
}
